:root {
    --blanco: #ffffff;
    --negro: rgb(19, 19, 19);
    --gris: #757575;
    --primario: #009bd8;
    --secundario: #894aff;
    --azul: #00008d;
    --verde: #007e00;

    --color_barra: rgb(0, 216, 231);
    --f_parrafo: 'Open Sans', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--f_parrafo);
    line-height: 1.2; /*interlineado*/
    margin: 0;
    overflow-x: hidden; /*oculta la barra en eje x*/
}
a {
    text-decoration: none;
}

/*======================
-----------utilidades-----------
======================*/
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


/*======================
-----------navegacion-----------
======================*/
.navbar {
    background-color: var(--secundario);
}
.navbar-brand {
    font-size: 1.6em;
    transition: 1.4s;
    border-radius: 1rem;
}
@media (min-width: 768px) {
    .navbar-brand {
        font-size: 2em;
    }
}
.navbar-brand:hover {
    background-color: var(--primario);
}
.nav-item {
    margin-left: 15px;
}
@media (min-width: 992px) {
    .nav-item:hover {
        border-bottom: 2px solid var(--blanco);
    }
}
.navbar .dropdown-menu {
    background-color: var(--secundario);
}
.navbar .dropdown-item:hover {
    background-color: var(--primario);
}

/*======================
-----------redes sociales-----------
======================*/
.redes_sociales {
    float: right;
    position: sticky;
    top: 0;
    padding-top: 13rem;
    z-index: 3;
    margin-right: 1.2rem;
}
.redes_sociales--contenedor {
    display: flex;
    flex-direction: column;
    gap: .2rem;

    background-color: rgba(255, 255, 255, .5);
    border-radius: 1rem;
}
.redes_sociales--enlace {
    color: var(--primario);
    font-size: 2rem;
    padding: .5rem;
}

.bxl-whatsapp:hover {
    color: rgb(0, 200, 0);
}
.bxl-gmail:hover {
    color: rgb(200, 0, 0);
}
.bxl-instagram:hover {
    color: rgb(150, 0, 150);
}
.bxl-facebook-circle:hover {
    color: rgb(0, 0, 250);
}

/*======================
-----------header / carousel-----------
======================*/
.header {
    width: 80%;
    margin: 0 auto;
}
#carousel {
    max-height: 100%;
}
.card img {
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
}
.carousel-indicators {
    bottom: -10%;
}
.carousel-indicators button {
    background-color: var(--primario) !important;
}
.header .bx-chevron-left,
.header .bx-chevron-right {
    font-size: 5rem;
    color: var(--secundario);
}
.carousel-control-prev {
    left: -9%;
}
.carousel-control-next {
    right: -9%;
}

/* card */
.card-body {
    border-top: 1px solid var(--bs-light);
    align-items: center;
}
.card-body .btn {
    padding: 5px 15px;
}
.precio {
    color: var(--secundario);
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}
/*======================
-----------productos-----------
======================*/
#productos .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.productos__foto img {
    width: 100%;
}


/*======================
-----------Servicio y horario-----------
======================*/
.contenido_principal {
    background-color: var(--bs-info);
    padding: 20px 0px;
    
    font-weight: 400;
}


/*======================
-----------footer-----------
======================*/

footer {
    background-color: #2e2e2e;
}
footer p {
    margin: 0;
    color: var(--blanco);
    padding: 2rem 3rem;
    text-align: center;
}
footer a {
    color: #00ad00;
    padding: .5rem 0rem;
}
footer a:hover {
    color: #008100;
    border-bottom: 1px solid white;
}


/*======================
-----------producto.html-----------
======================*/
.header__producto {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__producto--img {
    display: flex;
    justify-content: center;
}
.header__producto--img img {
    width: 75%;
    margin: 0 auto;
}

/*======================
-----------galeria-----------
======================*/
.busqueda form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.busqueda .barra-busqueda {
    width: 90%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	text-align: center;
	font-size: 16px;
}
@media (min-width: 768px) {
    .busqueda .barra-busqueda {
        width: 70%;
    }
}
.nav_busqueda {
    display: block;
    text-align: center;
}
@media (min-width: 768px) {
    .nav_busqueda {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.busqueda .categorias a {
	color: var(--verde);
	margin: 5px 10px;
	padding: 5px 10px;
	font-size: 18px;
	font-weight: 700;
}
.busqueda .categorias a:hover {
    color: var(--secundario);
}

.busqueda .categorias a.activo {
	color: var(--azul);
}

.enlace__etiquetas a {
    color: rgb(138, 0, 0);
	margin: 2rem;
	font-size: 18px;
	font-weight: 700;
    padding: 2rem 0rem;
}
.enlace__etiquetas a:hover {
    color: var(--secundario);
}
.categoria__margen a {
    display: block;
}
/* 
Galeria con MAUUI
*/
.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
	opacity: 1;
}
.item {
    position: absolute;
    display: block;
    padding: 0;
    margin: 1rem;
    width: 75%;
}
.item__contenido {
    position: relative;
}
.item__contenido img {
    cursor: pointer;
    width: 100%;
}
@media (min-width: 768px) {
    .item {
        max-width: 45%;
    }
}
@media (min-width: 992px) {
    .item {
        max-width: 30%;
    }
}
@media (min-width: 1200px) {
    .item{
        max-width: 22%;
    }
}
/*======================
-----------overlay-----------
======================*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .9);

    width: 100%;
    height: 100%;

    z-index: 4;

    /* ocultarlo con none */
    display: none;
    align-items: center;
    justify-content: center;
    /* colocar el parrafo debajo: */
    flex-direction: column;
}
.overlay.activo {
    display: flex;
}
.overlay img {
    max-width: 100%;
    max-height: 90%;
}
.overlay .descripcion {
    display: block;
    background: var(--blanco);
    padding: 2rem;
    text-align: center;
    margin-top: -3.2rem;
    border-radius: 1rem;
    max-width: 50%;
}
.contenedor-img {
    position: relative;
    padding: 0;
    max-width: 80%;
    max-height: 85%;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: var(--blanco);
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}


